@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html::-webkit-scrollbar{
    width: 0;
    visibility: hidden;
    display: none;
}

html {
    font-family: Poppins, sans-serif;
}